<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeftMaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CD8482A206F7ADA00CC9BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD84842206F7ADA00CC9BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD8484D206F7ADA00CC9BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
